@*@model IEnumerable<BanHangThoiTrangMVC.Models.EF.Category>
*@

    <ul class="navbar_menu">
       
        <li><a href="#">home</a></li>
            <li><a href="#">shop</a></li>
            <li><a href="#">promotion</a></li>
            <li><a href="#">pages</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="contact.html">contact</a></li>
    </ul>

